a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}textarea{overflow:auto;vertical-align:top;resize:vertical}audio,canvas,video{display:inline-block;max-width:100%}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}img{border:0;-ms-interpolation-mode:bicubic}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}button,html,input,select,textarea{color:#222}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}

html{
    font-size:125%;
}

body{
    font-family:"Cormorant Garamond",serif;
    
}
.wrapper{
    max-width:1280px;
    width:80%;
    margin:0 auto;
}
li{
    list-style: none;
}

a{
    text-decoration: none;
    text-transform:uppercase;
}

img{
    width:100%;
    height:100%;
}
/* styling header section */
header{
    background-image: url(./one-magazine-assets/image-1.jpg);
    background-size: cover;
    height:100vh;
    color:#FCFCFC;
    text-transform: uppercase;
}

.logo{
    color:#FCFCFC;
    font-style:italic;
    float:left;
    width:60%;
    padding-top:1.5rem;
}

nav{
    float:right;
    width:30%;
    padding-top:2rem;
}

h1{
    font-style:italic;
    font-size:8rem;
    clear:both;
    padding-top:7rem;
    line-height:6rem;
}

h2{
    font-size:6rem;
    padding-bottom:1.5rem;
}

h1,h2{
    font-weight:medium;
    text-align:center;
}

header a{
    text-decoration:none;
    color:#FCFCFC;
    font-size:0.9rem;
    font-family: 'Roboto',serif;
    padding-left:1.4rem;
}

.socialMedia i{
    font-size:1.3rem;
    line-height:2.3rem;
    display:block;
    padding-left:95%;

}
/* styling main section of the website */
/* general font styling for h3 & p */
h3{
    font-size:2.5rem;;
    font-weight:medium;
    text-transform:uppercase;
    color:#000000;
}

p{
    font-family: 'Roboto',serif;
    font-size:1rem;
    color:#000000;
    font-weight:300;
    line-height:1.45rem;
}
/* about section styling */
.about h3{
    margin:5rem 0;
    text-align:center;
}

.about li{
    float:left;
    width:calc((100% - 70px) / 3);
    margin-right:35px;
}

.about img{
    display:block;
}

.about li:nth-child(3){
    margin-right:0;
}

/* section two styling */
.blog{
    margin-top:5rem;
    background-image: url(./one-magazine-assets/image-6.jpg);
    background-size:contain;
    background-repeat:no-repeat;
}

.blogCotent1{
    float:right;
    width:75%;
    padding-left:10rem;

}
.blogCotent1 h3{
    padding-bottom:0.5rem;
}

/* section three & four general styling */
.article1 h3,
.article2 h3{
    padding-top:2rem;
    padding-bottom: 1rem;
}
/* section three styling */
.article1{
    margin-top:5rem;
    background-image: url(./one-magazine-assets/image-5.jpg);
    background-size:50%;
    background-repeat:no-repeat;
    background-position: right;
}

.blogCotent2{
    float:left;
    width:50%;
    padding-right:1rem;
    margin:0;
}

/* section four styling */
.article2{
    background-image: url(./one-magazine-assets/image-2.jpg);
    background-size:50%;
    background-repeat:no-repeat;
    background-position: left;
}

.blogCotent3{
    float:right;
    width:50%;
    padding-left:1rem;
}

/* styling button anchor tag */
.button{
    background-color:rgba(24, 51, 153, 0.78);
    font-family:"Cormorant Garamond",serif;
    font-size:1rem;
    color:#FCFCFC;
    padding: 0.8rem 1.7rem;
    display:inline-block;
    margin-top:1.5rem;
}


/* 2nd navigation section of the page */
.navigation2{
    background-image: url(./one-magazine-assets/one-magazine-footer.jpg);
    clear:both;
    padding:5rem;
}
.navigation2 li{
    float:left;
    width:calc(100% / 3);
    text-align:center;
    color:#FCFCFC;
}

.navigation2 i{
    font-size:4rem;
    padding-bottom:1rem;
}

.navigation2 a{
    color:#FCFCFC;
    text-transform: uppercase;
    font-size:1.7rem;
    display:block;
}

/* styling footer */
footer{
    background-color: #E3E3E3;
    padding:3rem;
}

h4{
    font-size:1.5rem;
    text-transform: uppercase;
}
.footerLeft{
    float:left;
    width:50%;
    padding-right:1rem;
}
.footerMid{
    float:left;
    width:25%;
}
footer nav{
    float:right;
    width:25%;
    padding:0;
}

footer a{
    color:#000000;
    font-family: 'Roboto',serif;
    display:block;
    text-align:right;
    line-height: 1.5rem;;
}
/* form styling */
input[type = email]{
    border:none;
    width:calc(100% - 6rem);
    height:2.2rem;
    padding-left:1.5rem;
    float:left;
}

button{
    width:6rem;
    height:2.2rem;
    border:none;
    background-color: #000000;
    color:#FCFCFC;
    text-transform: uppercase;
    font-family:"Cormorant Garamond",serif;
    font-size:0.8rem;
    padding:0;
}
.copyRight{
    background-color: #ACACAC;
    padding:0.9rem;
}
.copyRight p{
    text-align:center;
    font-size:1.1rem;
    font-weight:400;
}

